body{
  --dot-bg: rgb(20, 20, 20);
  --dot-color: rgb(45, 41, 41);
  --dot-size: 1px;
  --dot-space: 22px;
	background:
		linear-gradient(90deg, var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		linear-gradient(var(--dot-bg) calc(var(--dot-space) - var(--dot-size)), transparent 1%) center / var(--dot-space) var(--dot-space),
		var(--dot-color);
  font-family: Host Grotesk, Arial, Helvetica, sans-serif;
  margin: 0;
  min-width: 342px;
}

*{
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

header{
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 50;
  font-size: 22;
  letter-spacing: .9;
  font-weight: 450;
  z-index: 100;
}

.disclamer-div{
  background-color: rgb(228, 124, 95);
  background-color: rgb(252, 105, 72);
  color: rgb(211, 207, 207);
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  font-size: 13;
  margin-bottom: 50px;
  padding: 3 7 3 7;
}



.disclamer-div img{
  height:11;
  width: auto;
}

main{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 59vh;
}

.video-link{
  color: rgb(241, 138, 28);
}

.image-link{
  color: rgb(55, 169, 89);
}

.video{
  display: block;
  margin-bottom: 50px;
  color: white;
  background-color: rgb(241, 138, 28);
  border: none;
  padding:20 30;
  border-radius: 16px;
  font-size: 23;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgba(241, 138, 28, 0.728);
}

.image{
  display: block;
  margin-bottom: 50px;
  color: white;
  background-color: rgb(55, 169, 89);
  border: none;
  padding:20 30;
  border-radius: 16px;
  font-size: 23;
  cursor: pointer;
  box-shadow: 0px 0px 10px rgb(55, 169, 89);
}

.try-again{
  display: none;
}

@media (min-width:470px) {
  .wrapper{
    display: none;
  }

  .try-again{
    display: block;
    color: rgb(255, 255, 255);
    text-align: center;
    margin-top: 50%;
    font-size: 50;
    font-weight: 700;
    letter-spacing: 2.5;
    text-shadow: 0 0 5px rgb(76, 30, 30);
  }
}

